Name : Rathnakar Rajanala

course : HDS-5230-07

Assignment : week 5 - Dask programming assignment



#For this assignment, will work on a dataset consisting of data aggregated from across the world, with data related to the spread of the COVID19 pandemic. Please complete the following tasks:
Obtain the dataset from here: https://coronadatascraper.com/timeseries.csv.zip. Details and some interesting work associated with it is found here: https://coronadatascraper.com/#home

Extract the .csv file from the zipped archive, and load it into a Dask dataframe.

In [107]:
import pandas as pd

In [109]:
import dask.dataframe as dd
import numpy as np

In [111]:
# Load the dataset with specific data type
csv_data = pd.read_csv(
    "timeseries.csv",
    dtype={
        'name': str,
        'level': str,
        'city': object,
        'county': str,
        'state': str,
        'country': str,
        'population': np.float64,
        'lat': float,
        'long': float,
        'url': str,
        'aggregate': object,
        'tz': str,
        'cases': np.float64,
        'deaths': np.float64,
        'recovered': np.float64,
        'active': np.float64,
        'tested': np.float64,
        'hospitalized': np.float64,
        'hospitalized_current': np.float64,
        'discharged': np.float64,
        'icu': np.float64,
        'icu_current': np.float64,
        'growthFactor': np.float64,
        'date': object
    }
)

In [113]:
# Convert  Pandas DataFrame to a Dask DATAFRAME
dask_df = dd.from_pandas(csv_data, npartitions=4)

# Filter for entries from the United State and group by state
us_data = dask_df[dask_df['country'] == 'United States']
state = us_data.groupby('state').size().compute()

#  result
print(state)

state
Alabama                          7068
Alaska                           1878
Arizona                          1823
Arkansas                         8085
California                       7006
Colorado                         6351
Connecticut                      1021
Delaware                          455
Florida                          7625
Georgia                         16593
Hawaii                            583
Idaho                            3610
Illinois                         9975
Nevada                           1518
Virginia                        13010
Washington                       4497
Indiana                          9720
Iowa                             9425
Kansas                           8211
Kentucky                        11419
Louisiana                        6915
Maine                            1785
Maryland                         2756
Massachusetts                    1820
Michigan                         8397
Minnesota                        8359
Mississippi                      8678
Missouri                        10360
Montana                          2962
Nebraska                         7630
New Hampshire                    1234
New Jersey                       2547
New Mexico                       3131
New York                         6554
North Carolina                  10232
North Dakota                     5133
Ohio                             9199
Oklahoma                         7119
Oregon                           4068
Pennsylvania                     7202
Rhode Island                     1857
South Carolina                   5063
South Dakota                     4963
Tennessee                        9978
Texas                           22069
American Samoa                     53
Guam                               54
Northern Mariana Islands           53
Puerto Rico                        53
United States Virgin Islands       53
Utah                             3166
Vermont                          1625
Washington, D.C.                  121
West Virginia                    5128
Wisconsin                        7614
Wyoming                          2343
dtype: int64

1.Create a new dataframe object that consists of samples (i.e., rows) corresponding to states in the US.

In [116]:
filtered_data = dask_df.query("country == 'United States'")
filtered_data = filtered_data.groupby("state").count()
filtered_data.compute()

,name,level,city,county,country,population,lat,long,url,aggregate,...,recovered,active,tested,hospitalized,hospitalized_current,discharged,icu,icu_current,growthFactor,date
state,,,,,,,,,,,,,,,,,,,,,
Alabama,7068,7068,0,6953,7068,7068,7068,7068,7068,7068,...,0,0,53,0,0,0,0,0,6997,7068
Alaska,1878,1878,0,1775,1878,1833,1833,1833,1878,1878,...,0,0,53,0,0,0,0,0,1844,1878
Arizona,1823,1823,0,1661,1823,1823,1823,1823,1823,1823,...,0,0,53,0,0,0,0,0,1792,1823
Arkansas,8085,8085,0,7968,8085,8085,8085,8085,8085,8085,...,4264,4376,5626,0,0,0,0,0,7529,8085
California,7006,7006,0,6843,7006,7006,7006,7006,7006,7006,...,3422,3052,4545,1436,1817,0,141,933,6589,7006
Colorado,6351,6351,0,6230,6351,6351,6351,6351,6351,6351,...,0,0,43,31,0,0,0,0,6285,6351
Connecticut,1021,1021,0,901,1021,1021,1021,1021,1021,1021,...,0,0,53,0,0,0,0,0,1012,1021
Delaware,455,455,0,338,455,455,455,455,455,455,...,0,207,53,0,0,0,0,0,451,455
Florida,7625,7625,0,7498,7625,7625,7625,7625,7625,7625,...,0,0,5229,0,0,0,0,0,7286,7625
Georgia,16593,16593,0,16467,16593,16593,16593,16593,16593,16593,...,0,0,53,5968,0,0,0,0,16427,16593
Hawaii,583,583,0,461,583,583,583,583,583,583,...,0,0,1,0,0,0,0,0,577,583
Idaho,3610,3610,0,3495,3610,3610,3610,3610,3610,3610,...,0,0,53,0,0,0,0,0,3565,3610
Illinois,9975,9975,0,9811,9975,9975,9975,9975,9975,9975,...,0,0,3399,0,0,0,0,0,9796,9975
Nevada,1518,1518,0,1395,1518,1518,1518,1518,1518,1518,...,167,197,80,0,92,80,0,78,1500,1518
Virginia,13010,13010,0,12904,13010,13010,13010,13010,13010,13010,...,0,0,53,1427,0,0,0,0,12873,13010
Washington,4497,4497,0,4331,4497,4497,4497,4497,4497,4497,...,0,0,53,0,0,0,0,0,4455,4497
Indiana,9720,9720,0,9598,9720,9720,9720,9720,9720,9720,...,0,0,1,0,0,0,0,0,9622,9720
Iowa,9425,9425,0,9306,9425,9425,9425,9425,9425,9425,...,1282,6205,53,0,0,0,0,0,9322,9425
Kansas,8211,8211,0,8090,8211,8211,8211,8211,8211,8211,...,0,140,53,0,0,0,0,0,8078,8211
Kentucky,11419,11419,0,11298,11419,11419,11419,11419,11419,11419,...,3385,7239,0,0,0,0,0,0,11284,11419
Louisiana,6915,6915,0,6796,6915,6915,6915,6915,6915,6915,...,0,0,53,0,0,0,0,0,6846,6915
Maine,1785,1785,0,1669,1785,1785,1785,1785,1785,1785,...,971,965,53,0,0,0,0,0,1766,1785
Maryland,2756,2756,0,2633,2756,2756,2756,2756,2756,2756,...,0,236,53,0,0,0,0,0,2731,2756
Massachusetts,1820,1820,0,1664,1820,1803,1803,1803,1820,1820,...,0,0,61,0,0,0,0,0,1803,1820
Michigan,8397,8397,40,8279,8397,8357,8357,8357,8397,8397,...,0,0,53,0,0,0,0,0,8290,8397
Minnesota,8359,8359,0,8237,8359,8359,8359,8359,8359,8359,...,0,0,53,0,0,0,0,0,8266,8359
Mississippi,8678,8678,0,8561,8678,8678,8678,8678,8678,8678,...,0,0,53,0,0,0,0,0,8593,8678
Missouri,10360,10360,0,10239,10360,10360,10360,10360,10360,10360,...,45,57,53,0,0,0,0,0,10216,10360
Montana,2962,2962,0,2847,2962,2962,2962,2962,2962,2962,...,0,0,53,0,0,0,0,0,2893,2962
Nebraska,7630,7630,0,7490,7630,7630,7630,7630,7630,7630,...,0,0,4281,2115,0,0,0,0,6384,7630
New Hampshire,1234,1234,0,1108,1234,1234,1234,1234,1234,1234,...,2,2,55,0,0,0,0,0,1222,1234
New Jersey,2547,2547,0,2423,2547,2547,2547,2547,2547,2547,...,0,0,163,0,0,0,0,0,2505,2547
New Mexico,3131,3131,0,3014,3131,3131,3131,3131,3131,3131,...,0,0,53,0,0,0,0,0,3097,3131
New York,6554,6554,0,6428,6554,6554,6554,6554,6554,6554,...,0,0,53,0,0,0,0,0,6495,6554
North Carolina,10232,10232,0,10107,10232,10232,10232,10232,10232,10232,...,0,0,53,0,0,0,0,0,10125,10232
North Dakota,5133,5133,0,5016,5133,5133,5133,5133,5133,5133,...,0,0,3284,0,0,0,0,0,4004,5133
Ohio,9199,9199,0,9080,9199,9199,9199,9199,9199,9199,...,0,0,53,0,0,0,0,0,9109,9199
Oklahoma,7119,7119,0,6997,7119,7119,7119,7119,7119,7119,...,2379,1886,53,0,0,0,0,0,6932,7119
Oregon,4068,4068,0,3939,4068,4068,4068,4068,4068,4068,...,0,0,2854,0,0,0,0,0,3602,4068
Pennsylvania,7202,7202,0,7081,7202,7202,7202,7202,7202,7202,...,0,0,2356,0,0,0,0,0,7131,7202
Rhode Island,1857,1857,1175,1730,1857,682,682,682,1857,682,...,0,0,52,14,14,14,0,0,1697,1857
South Carolina,5063,5063,0,4941,5063,5063,5063,5063,5063,5063,...,0,244,53,0,0,0,0,0,5013,5063
South Dakota,4963,4963,0,4845,4963,4963,4963,4963,4963,4963,...,0,0,53,0,0,0,0,0,4893,4963
Tennessee,9978,9978,0,9855,9978,9978,9978,9978,9978,9978,...,2485,2351,3668,0,0,0,0,0,9707,9978
Texas,22069,22069,0,21924,22069,22069,22069,22069,22069,22069,...,0,0,53,0,2,0,0,2,21811,22069
American Samoa,53,53,0,0,53,53,53,53,53,53,...,0,0,53,0,0,0,0,0,0,53
Guam,54,54,0,0,54,54,54,54,54,54,...,0,0,53,0,0,0,0,0,45,54
Northern Mariana Islands,53,53,0,0,53,53,53,53,53,53,...,0,0,53,0,0,0,0,0,45,53
Puerto Rico,53,53,0,0,53,53,53,53,53,53,...,0,0,53,0,0,0,0,0,45,53
United States Virgin Islands,53,53,0,0,53,53,53,53,53,53,...,0,0,53,0,0,0,0,0,45,53
Utah,3166,3166,0,3034,3166,3166,3166,3166,3166,3166,...,0,0,79,6,0,0,0,0,3079,3166
Vermont,1625,1625,0,1504,1625,1625,1625,1625,1625,1625,...,0,0,56,0,0,0,0,0,1610,1625
"Washington, D.C.",121,121,0,0,121,121,121,121,121,121,...,0,0,53,0,0,0,0,0,120,121
West Virginia,5128,5128,0,5017,5128,5128,5128,5128,5128,5128,...,0,0,53,0,0,0,0,0,5067,5128
Wisconsin,7614,7614,0,7462,7614,7614,7614,7614,7614,7614,...,0,0,4828,0,0,0,0,0,7191,7614
Wyoming,2343,2343,0,2226,2343,2343,2343,2343,2343,2343,...,0,0,53,0,0,0,0,0,2318,2343

The output is a new DataFrame that only includes U.S. states, eliminating territories such as Guam and Puerto Rico.  The DataFrame shows the total number of confirmed COVID-19 cases in each state.


 Texas had the highest case count, with 22,069 instances.
 Georgia has 16,593 cases.
 States such as California and Florida have approximately 7,000-7,600 instances.
 Smaller states, such as Delaware and Vermont, record substantially fewer incidents, approximately 455 and 1,625, respectively.
 This filtered DataFrame provides for a more concentrated examination of COVID-19's impact inside U.S. states, resulting in more relevant public health insights and regional comparisons.

2.During the time period 2020-Jan-01 to 2021-Feb-28, rank states in terms of their per-capita mortality? Compute per-capita mortality during a specific period as the ratio of total deaths during that time period, to the average population of the state (compute the average population during the time period).

In [120]:
# Filter data and create 'seen' column as the sum of 'recovered' and 'active'
us_data = dask_df[dask_df['country'] == 'United States']
us_data['seen'] = us_data['recovered'] + us_data['active']

#  result
print(us_data.compute())

                                                     name   level  \
24958                Washoe County, Nevada, United States  county
24959                Washoe County, Nevada, United States  county
24960                Washoe County, Nevada, United States  county
24961                Washoe County, Nevada, United States  county
24962                Washoe County, Nevada, United States  county
...                                                   ...     ...
397823  Detroit City, Wayne County, Michigan, United S...    city
397824  Detroit City, Wayne County, Michigan, United S...    city
397825  Detroit City, Wayne County, Michigan, United S...    city
397826  Detroit City, Wayne County, Michigan, United S...    city
397827  Detroit City, Wayne County, Michigan, United S...    city

                city         county     state        country  population  \
24958           <NA>  Washoe County    Nevada  United States    471519.0
24959           <NA>  Washoe County    Nevada  United States    471519.0
24960           <NA>  Washoe County    Nevada  United States    471519.0
24961           <NA>  Washoe County    Nevada  United States    471519.0
24962           <NA>  Washoe County    Nevada  United States    471519.0
...              ...            ...       ...            ...         ...
397823  Detroit City   Wayne County  Michigan  United States         NaN
397824  Detroit City   Wayne County  Michigan  United States         NaN
397825  Detroit City   Wayne County  Michigan  United States         NaN
397826  Detroit City   Wayne County  Michigan  United States         NaN
397827  Detroit City   Wayne County  Michigan  United States         NaN

           lat      long                                                url  \
24958   40.582 -119.5885  https://services.arcgis.com/iCGWaR7ZHc5saRIl/a...
24959   40.582 -119.5885  https://services.arcgis.com/iCGWaR7ZHc5saRIl/a...
24960   40.582 -119.5885  https://services.arcgis.com/iCGWaR7ZHc5saRIl/a...
24961   40.582 -119.5885  https://services.arcgis.com/iCGWaR7ZHc5saRIl/a...
24962   40.582 -119.5885  https://services.arcgis.com/iCGWaR7ZHc5saRIl/a...
...        ...       ...                                                ...
397823     NaN       NaN  https://www.michigan.gov/coronavirus/0,9753,7-...
397824     NaN       NaN  https://www.michigan.gov/coronavirus/0,9753,7-...
397825     NaN       NaN  https://www.michigan.gov/coronavirus/0,9753,7-...
397826     NaN       NaN  https://www.michigan.gov/coronavirus/0,9753,7-...
397827     NaN       NaN  https://www.michigan.gov/coronavirus/0,9753,7-...

        ... active tested  hospitalized  hospitalized_current  discharged  \
24958   ...    1.0    NaN           NaN                   NaN         NaN
24959   ...    1.0    NaN           NaN                   NaN         NaN
24960   ...    NaN    NaN           NaN                   NaN         NaN
24961   ...    NaN    NaN           NaN                   NaN         NaN
24962   ...    NaN    NaN           NaN                   NaN         NaN
...     ...    ...    ...           ...                   ...         ...
397823  ...    NaN    NaN           NaN                   NaN         NaN
397824  ...    NaN    NaN           NaN                   NaN         NaN
397825  ...    NaN    NaN           NaN                   NaN         NaN
397826  ...    NaN    NaN           NaN                   NaN         NaN
397827  ...    NaN    NaN           NaN                   NaN         NaN

        icu  icu_current  growthFactor        date  seen
24958   NaN          NaN           NaN  2020-03-05   NaN
24959   NaN          NaN           1.0  2020-03-06   NaN
24960   NaN          NaN           1.0  2020-03-07   NaN
24961   NaN          NaN           2.0  2020-03-08   NaN
24962   NaN          NaN           1.0  2020-03-09   NaN
...     ...          ...           ...         ...   ...
397823  NaN          NaN           1.0  2020-05-24   NaN
397824  NaN          NaN           NaN  2020-05-27   NaN
397825  NaN          NaN           1.0  2020-05-28   NaN
397826  NaN          NaN           NaN  2020-05-30   NaN
397827  NaN          NaN           NaN  2020-06-01   NaN

[310313 rows x 25 columns]

In [122]:
# Convert 'date' column to datetime format
new_column_df['date'] = dd.to_datetime(new_column_df['date'])

# Filter data between January 2020 and February 2021
filtered_df = new_column_df[(new_column_df['date'] >= '2020-01-01') & (new_column_df['date'] <= '2021-02-28')]

# Group by 'state' and calculate total deaths and average population
state_summary = filtered_df.groupby('state').agg({
    'deaths': 'sum',
    'population': 'mean'
}).compute()

# Rename columns to understand
state_summary.rename(columns={'deaths': 'total_deaths', 'population': 'avg_population'}, inplace=True)

# Calculate per-capita mortality and rank of the states
state_summary['per_capita_mortality'] = state_summary['total_deaths'] / state_summary['avg_population']
state_summary['rank'] = state_summary['per_capita_mortality'].rank(ascending=False)

# show per-capita mortality and ranks sorted by rank
print(state_summary[['per_capita_mortality', 'rank']].sort_values('rank'))

                              per_capita_mortality  rank
state
New York                                  6.395701   1.0
Michigan                                  3.204753   2.0
Louisiana                                 2.735288   3.0
Illinois                                  2.043863   4.0
New Jersey                                2.031200   5.0
Georgia                                   2.026085   6.0
Pennsylvania                              1.831572   7.0
Virginia                                  1.359063   8.0
Mississippi                               1.356705   9.0
Indiana                                   1.353423  10.0
Ohio                                      1.058943  11.0
Iowa                                      0.958771  12.0
Massachusetts                             0.904775  13.0
Colorado                                  0.894296  14.0
Minnesota                                 0.768853  15.0
Kentucky                                  0.751512  16.0
Texas                                     0.737643  17.0
Missouri                                  0.711146  18.0
Connecticut                               0.677952  19.0
Maryland                                  0.658347  20.0
Alabama                                   0.599759  21.0
North Carolina                            0.549190  22.0
Florida                                   0.545793  23.0
Wisconsin                                 0.437617  24.0
Nebraska                                  0.397699  25.0
Oklahoma                                  0.397603  26.0
Tennessee                                 0.375231  27.0
California                                0.371347  28.0
Washington                                0.359377  29.0
Kansas                                    0.330341  30.0
New Mexico                                0.327128  31.0
South Carolina                            0.315557  32.0
Arkansas                                  0.271762  33.0
Rhode Island                              0.220419  34.0
South Dakota                              0.215476  35.0
North Dakota                              0.204487  36.0
West Virginia                             0.136558  37.0
Nevada                                    0.126360  38.0
New Hampshire                             0.123780  39.0
Idaho                                     0.118306  40.0
Vermont                                   0.101814  41.0
Oregon                                    0.098453  42.0
Delaware                                  0.095738  43.0
Maine                                     0.077630  44.0
Washington, D.C.                          0.045661  45.0
Utah                                      0.044994  46.0
Wyoming                                   0.028398  47.0
Arizona                                   0.028349  48.0
Montana                                   0.025902  49.0
Alaska                                    0.019541  50.0
United States Virgin Islands              0.002364  51.0
Northern Mariana Islands                  0.001922  52.0
Hawaii                                    0.001786  53.0
Puerto Rico                               0.001670  54.0
Guam                                      0.001585  55.0
American Samoa                            0.000000  56.0

The ranking of US states based on per-capita COVID-19 mortality from January 1, 2020 to February 28, 2021 reveals significant diversity among them.

New York has the highest per-capita mortality rate (6.4), indicating that the pandemic has had a disproportionately severe impact on this state's population.
Michigan and Louisiana follow with per-capita mortality rates of 3.2 and 2.7, indicating that the pandemic had a considerable impact on them as well.
On the other end of the range, states like Hawaii (0.0017) and American Samoa (0.0) have very low per-capita fatality rates, indicating that they were less affected by the epidemic during this time.

This list emphasizes the disparities in the severity of COVID-19's impact between states, which may be influenced by factors such as healthcare infrastructure, population density, epidemic timing, and state regulations.

3.During the same time period, compute the case fatality rate (CFR) per month, using one of the approaches defined in this scientific brief from the World Health Organization: https://www.who.int/news-room/commentaries/detail/estimating-mortality-from-covid-19Links to an external site.. This computation should yield an array of dimensions 50 (states) X 14 (months). State the assumptions you are making in computing this metric.

In [126]:
import dask.dataframe as dd

# Convert 'date' column to datetime
new_column_df['date'] = dd.to_datetime(new_column_df['date'])

# Filter data for a specific time period
timeperiod_df = new_column_df[(new_column_df['date'] >= '2020-01-01') & (new_column_df['date'] <= '2021-02-28')]

# Extract year and month
timeperiod_df['year_month'] = timeperiod_df['date'].dt.strftime('%Y-%m')

# Group by 'state' and 'year_month' to compute total deaths and cases
monthly_stats = time_period_df.groupby(['state', 'year_month']).agg({
    'deaths': 'sum',
    'cases': 'sum'
}).compute()

# Calculate CFR
monthly_stats['cfr'] = (monthly_stats['deaths'] / monthly_stats['cases']) * 100

# Pivot the table to create CFR matrix
cfr_mat = monthly_stats.reset_index().pivot(index='state', columns='year_month', values='cfr')

# Display the CFR matrix
print(cfr_mat)

year_month                    2020-01   2020-02   2020-03    2020-04  \
state
Alabama                           NaN       NaN  0.532313   2.830899
Alaska                            NaN       NaN  0.335008   2.314519
American Samoa                    NaN       NaN       NaN        NaN
Arizona                           0.0  0.000000  0.000000   1.486545
Arkansas                          NaN       NaN  0.915656   1.911450
California                        0.0  0.000000  2.006735   3.479974
Colorado                          NaN       NaN  0.939250   2.636616
Connecticut                       NaN       NaN  1.814771   6.477626
Delaware                          NaN       NaN  1.334107   2.734038
Florida                           NaN       NaN  0.842669   2.905738
Georgia                           NaN       NaN  2.185574   3.980977
Guam                              NaN       NaN  2.702703   3.615483
Hawaii                            NaN       NaN  0.036271   0.000000
Idaho                             NaN       NaN  1.448967   2.258980
Illinois                          0.0  0.000000  1.288155   4.048394
Indiana                           NaN       NaN  2.396460   4.775795
Iowa                              NaN       NaN  0.863465   2.326472
Kansas                            NaN       NaN  0.989866   2.364135
Kentucky                          NaN       NaN  2.225112   5.074331
Louisiana                         NaN       NaN  3.916843   5.191232
Maine                             NaN       NaN  0.529355   3.778067
Maryland                          NaN       NaN  0.261008   3.684368
Massachusetts                     NaN  0.000000  0.499505   4.415282
Michigan                          NaN       NaN  2.493512   7.508176
Minnesota                         NaN       NaN  0.000000   2.527566
Mississippi                       NaN       NaN  1.504930   3.296058
Missouri                          NaN       NaN  1.196568   2.878952
Montana                           NaN       NaN  0.000000   0.966368
Nebraska                          NaN  0.000000  0.000000   1.422412
Nevada                            NaN       NaN  2.033319   4.051924
New Hampshire                     NaN       NaN  0.268757   1.546978
New Jersey                        NaN       NaN  0.401749   4.064989
New Mexico                        NaN       NaN  0.705290   2.949834
New York                          NaN       NaN  2.075213   6.525716
North Carolina                    NaN       NaN  0.331498   2.722044
North Dakota                      NaN       NaN  0.253646   0.893946
Northern Mariana Islands          NaN       NaN       NaN  14.468085
Ohio                              NaN       NaN  1.529431   4.404734
Oklahoma                          NaN       NaN  2.833876   5.439956
Oregon                            NaN  0.000000  2.660322   3.617323
Pennsylvania                      NaN       NaN  1.081428   3.292275
Puerto Rico                       NaN       NaN       NaN   5.808946
Rhode Island                      NaN       NaN  0.061703   1.516496
South Carolina                    NaN       NaN  1.964286   2.882223
South Dakota                      NaN       NaN  0.775194   0.453175
Tennessee                         NaN       NaN  0.036523   1.964376
Texas                             NaN  0.000000  1.184979   2.403974
United States Virgin Islands      NaN       NaN       NaN   5.223881
Utah                              NaN  0.000000  0.179292   0.446306
Vermont                           NaN       NaN  3.411633   4.238581
Virginia                          NaN       NaN  1.406402   2.865308
Washington                        0.0  1.360544  5.051079   5.255217
Washington, D.C.                  NaN       NaN  1.436880   3.736434
West Virginia                     NaN       NaN  0.000000   2.181204
Wisconsin                         NaN  0.000000  0.852336   4.482942
Wyoming                           NaN       NaN  0.000000   0.396069

year_month                      2020-05   2020-06   2020-07
state
Alabama                        3.889270  2.962907  2.381771
Alaska                         2.196905  1.303247  1.207417
American Samoa                      NaN       NaN       NaN
Arizona                        1.992175  0.211513  0.973523
Arkansas                       2.129628  1.515155  1.274360
California                     3.983350  3.178666  2.543001
Colorado                       5.372019  5.419220  5.063691
Connecticut                    9.016204  9.383106  9.500807
Delaware                       3.574849  4.164733  4.013148
Florida                        4.277250  3.404313  2.039752
Georgia                        4.452969  4.312292  3.263239
Guam                           3.186275  2.750275  1.774308
Hawaii                         0.481140  1.923594  0.000000
Idaho                          3.026976  2.255316  1.385931
Illinois                       4.427381  4.760111  4.802791
Indiana                        5.564376  5.849879  5.314359
Iowa                           2.433142  2.682311  2.364454
Kansas                         1.423958  1.998686  1.781868
Kentucky                       4.666360  4.045568  3.706810
Louisiana                      7.010445  6.157174  5.138853
Maine                          4.182856  3.583397  3.156923
Maryland                       4.806133  4.670979  4.649307
Massachusetts                  6.625696  7.247411  7.437951
Michigan                       9.902791  9.097596  8.623360
Minnesota                      3.052268  4.173187  3.958075
Mississippi                    4.593225  4.455260  3.743453
Missouri                       4.774436  5.578889  3.979086
Montana                        2.283996  2.792962  1.555189
Nebraska                       1.257609  1.359915  1.443365
Nevada                         4.970358  3.830004  2.541570
New Hampshire                  4.025026  5.992573  6.436738
New Jersey                     6.934022  7.773725  8.251406
New Mexico                     4.336271  4.409418  4.003795
New York                       7.365287  7.321241  7.233961
North Carolina                 3.471947  2.512702  1.987512
North Dakota                   1.346565  2.194075  2.215880
Northern Mariana Islands      10.569106  7.042254  6.535948
Ohio                           5.865587  6.024960  5.275945
Oklahoma                       5.568855  3.909534  2.656809
Oregon                         3.837110  2.944807  2.237008
Pennsylvania                   6.835164  7.506220  7.418973
Puerto Rico                    4.524982  2.773468  1.998391
Rhode Island                   3.314532  5.476087  5.821287
South Carolina                 4.344983  2.894657  1.922291
South Dakota                   1.074754  1.282311  1.383357
Tennessee                      1.655256  1.513466  1.302543
Texas                          2.737519  2.009166  1.392601
United States Virgin Islands   7.835400  8.379888  5.976096
Utah                           0.630986  0.808203  0.362686
Vermont                        5.710436  4.977477  4.559147
Virginia                       3.315829  2.862225  2.841844
Washington                     5.308562  4.396312  3.921734
Washington, D.C.               5.264651  5.289760  5.330110
West Virginia                  3.136926  3.638010  3.004665
Wisconsin                      3.625332  2.998631  2.495788
Wyoming                        0.779409  1.514208  0.634035

The case fatality rate (CFR) varies greatly by state and month.  In general, higher CFRs in the early months of 2020 (for example, April) indicate that some states saw higher fatality rates relative to confirmed cases, presumably due to overburdened healthcare systems.  CFRs often remained stable or declined with time, indicating improved healthcare responses and more effective testing.  States with consistently high CFRs may need additional public health initiatives.  Missing data (NaN) represents periods without any reported cases or fatalities.  This statistic aids in understanding how the pandemic has affected certain states.

4.Using this matrix as input, compute the ranking of states, on how the CFR rate changed over time. This computation will involve an aggregation of of month-to-month changes in CFR. Note that some of these month-to-month changes can be positive (CFR increases from a previous month to the current month) or negative (CFR decrease from a previous month to the current month), or zero (no change in CFR). You need to aggregate these individual changes, across all time periods.

In [130]:
import numpy as np
import pandas as pd

# Replace NaNs with 0 to avoid issues in diff and sum
cfr_array_clean = np.nan_to_num(cfr_mat)

# Compute month-to-month changes in CFR
cfr_changes = np.diff(cfr_array_clean, axis=1)

# Calculate total change for the each state
total_changes = np.sum(cfr_changes, axis=1)

# Create DataFrame for ranking
states = cfr_matrix.index.values  
rank_df = pd.DataFrame({
    'state': states,
    'total_change': total_changes
})

# Rank states based on total change (higher decrease = higher rank)
rank_df['rank'] = rank_df['total_change'].rank(ascending=False, method='min')

# Sort by rank
rank_df = rank_df.sort_values(by='rank').reset_index(drop=True)

# Display ranked states
print(rank_df)

                           state  total_change  rank
0                    Connecticut      9.500807   1.0
1                       Michigan      8.623360   2.0
2                     New Jersey      8.251406   3.0
3                  Massachusetts      7.437951   4.0
4                   Pennsylvania      7.418973   5.0
5                       New York      7.233961   6.0
6       Northern Mariana Islands      6.535948   7.0
7                  New Hampshire      6.436738   8.0
8   United States Virgin Islands      5.976096   9.0
9                   Rhode Island      5.821287  10.0
10              Washington, D.C.      5.330110  11.0
11                       Indiana      5.314359  12.0
12                          Ohio      5.275945  13.0
13                     Louisiana      5.138853  14.0
14                      Colorado      5.063691  15.0
15                      Illinois      4.802791  16.0
16                      Maryland      4.649307  17.0
17                       Vermont      4.559147  18.0
18                      Delaware      4.013148  19.0
19                    New Mexico      4.003795  20.0
20                      Missouri      3.979086  21.0
21                     Minnesota      3.958075  22.0
22                    Washington      3.921734  23.0
23                   Mississippi      3.743453  24.0
24                      Kentucky      3.706810  25.0
25                       Georgia      3.263239  26.0
26                         Maine      3.156923  27.0
27                 West Virginia      3.004665  28.0
28                      Virginia      2.841844  29.0
29                      Oklahoma      2.656809  30.0
30                    California      2.543001  31.0
31                        Nevada      2.541570  32.0
32                     Wisconsin      2.495788  33.0
33                       Alabama      2.381771  34.0
34                          Iowa      2.364454  35.0
35                        Oregon      2.237008  36.0
36                  North Dakota      2.215880  37.0
37                       Florida      2.039752  38.0
38                   Puerto Rico      1.998391  39.0
39                North Carolina      1.987512  40.0
40                South Carolina      1.922291  41.0
41                        Kansas      1.781868  42.0
42                          Guam      1.774308  43.0
43                       Montana      1.555189  44.0
44                      Nebraska      1.443365  45.0
45                         Texas      1.392601  46.0
46                         Idaho      1.385931  47.0
47                  South Dakota      1.383357  48.0
48                     Tennessee      1.302543  49.0
49                      Arkansas      1.274360  50.0
50                        Alaska      1.207417  51.0
51                       Arizona      0.973523  52.0
52                       Wyoming      0.634035  53.0
53                          Utah      0.362686  54.0
54                        Hawaii      0.000000  55.0
55                American Samoa      0.000000  55.0

States with a greater total shift in CFR (such as Connecticut, Michigan, and New Jersey) saw considerable swings in death rates compared to case numbers, which could indicate problems such as overburdened healthcare systems or insufficient early interventions. On the other side, states with lower rankings (such as Hawaii and American Samoa) may have been more successful in controlling the epidemic or experienced fewer breakouts.

This rating is useful for identifying states that may have suffered the most severe public health consequences from COVID-19, which can inform policy changes, resource allocation, and future investigations into the performance of healthcare systems during the pandemic.

4.For each of the above operations, explain using appropriate reasoning, whether using a parallelized and/or distributed way of performing the computation makes sense.

Interpretation:-

Parallelization makes sense when working with massive data sets or needing to speed up computations. A smaller dataset (such as 50 states and 14 months) may not yield considerable improvements. However, if the dataset grows (e.g., more states, years, or granular data), parallel or distributed techniques may be useful in distributing the work among numerous processors or computers, boosting efficiency and reducing computing time.